
/* General settings */

html{
  font-size: 18px;
  line-height: 0.1;
}

body{
  font-family: 'Open Sans', 'Muli', 'Arial', sans-serif;
  color: rgb(74,74,74)
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  top: 64px;
  width: auto;
}

@media only screen and (max-width: 480px){

  html{
    font-size: 17px;
  }

 .main{
   width: 100%;
 }

}

/* header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 5;
  box-shadow: 0px 2px 5px 0px grey;
}

section{
  display: flex;
  align-items: center;
  height: 32px;
  width: auto;
  margin-left: 24px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Arial;
  color: rgb(155,155,155)
}

section h1{
   font-weight: bold;
   color: rgb(74,74,74)
}

nav{
  margin-right: 24px;
}

.mobile{
  display: none;
}

nav span a{
  color: rgb(74,74,74);
  margin-left: 16px;
  text-decoration-line: none;
}

@media only screen and (max-width: 480px){

  nav,section{
    display: none;
  }

  .mobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    margin: auto 24px;
  }
}

/* Middle-section-1 */

.first{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: rgb(216,216,216);
}

.first img{
  width: 57.8%;
  height: auto;
  margin: 32px 24px;
}

.article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  width: auto;
  margin-left: 24px;
}

.article h3{
  font-weight: 800;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.article p{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.article span{
  display: inline-block;
  padding: 15px 0;
  background-color: rgb(74,74,74);
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  text-align: center;
}

.article span a{
  text-decoration-line: none;
  color: inherit;
}

@media only screen and (max-width: 480px){

  .first{
    flex-direction: column;
  }

  .article h3, .article p{
    margin-bottom: 32px;
  }

  .article span{
    background-color: rgb(155,155,155);
    margin-bottom: 32px;
  }

  .first img{
    width: 100%;
    height: auto;
  }

}

/* Middle-section-2 */

.second{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
}

.second h4{
  font-weight: bold;
}

.one, .two{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.one{
  margin: 32px 32px 32px 24px;
  width: 60%;
}

.one img{
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.one h4{
  font-size: 2rem;
  font-family: 'Open Sans';
  margin-bottom: 24px;
}

.one h5{
  font-size: 1rem;
  margin-bottom: 50px;
  line-height: 1.5;
  color: rgb(118,118,118);
}

.one p{
  font-weight: 600;
  font-size: 1rem;
}

.two{
  width: 40%;
  border-left: 1px solid rgb(216,216,216);
}

.mobile-two{
  display: none;
}

.two img{
  width: 35%;
  height: auto;
  margin: 16px;
}

.guest img{
  width: 56%;
  height: auto;
}

.date,.campus,.guest{
  display: flex;
  border-bottom: 1px solid rgb(216,216,216);
}

.date{
  margin-top: 16px;
}

.guest{
  margin-bottom: 16px;
  background-color: rgb(216,216,216);
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 0;
}

.text h5{
  color: rgb(118,118,118);
}

.text h4 , .text h5{
  margin-bottom: 8px;
}

.text p{
  color: rgb(74,144,226);
}

.text h4{
  font-size: 1.2rem;
}

@media only screen and (max-width: 480px){

   .second{
     display: none;
   }

   .mobile-two{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     padding: 16px;
     border-bottom: 1px solid rgb(233,234,235);
   }

   .mobile-two img{
     width: 100%;
     height: auto;
     margin-bottom: 16px;
   }

   .date-m,.campus-m,.guest-m{
     display: flex;
     flex-direction: column;
     width: 100%;
     margin: 0 0 64px 0;
   }

   .guest-m{
     margin-bottom: 32px;
   }

   .text{
     margin-left: 16px;
   }

   .text h4{
     font-weight: bold;
   }

}

/* Middle-section-3 */

.third{
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: rgb(234,235,236);
}

.third h1{
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  margin: 32px auto;
}

.multi{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  margin: 0 72px 32px 72px;
}

.multi-mobile{
  display: none;
}

.multi img{
  height: auto;
  width: 100%;
}

.multi h2{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 16px 0 8px 16px;
}

.multi h3{
  display: inline-block;
  margin: 0 0 8px 16px;
}

.multi p{
  display: inline-block;
  width: 70%;
  line-height: 1.2;
  font-size: 1rem;
  margin: 0 0 24px 16px;
  color: rgb(118,118,118);
}

.soft , .art, .design,
.data, .busy, .market{
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
  height: auto;
  background-color: white;
}

.soft, .art, .design{
  margin-bottom: 32px;
}

@media only screen and (max-width: 480px){

   .third{
     background-color: transparent;
     justify-content: flex-start;
     align-items: center;
     border-bottom: 1px solid rgb(233,234,235);
   }

   .third h1{
     margin-bottom: 16px;
   }

   .multi{
     display: none;
   }

   .multi-mobile{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-bottom: 24px;
     width: 100%;
   }

   .multi-mobile h2{
     display: block;
     margin:0 16px 8px 16px;
     padding: 16px 0 24px 16px;
     font-weight: bold;
     background-color: rgb(216,216,216);
   }

}

/* Middle-section-4 */

.last{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.last h1{
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  margin: 32px auto;
}

.last .clip{
  display: none;
}

.content{
  display: flex;
  justify-content: flex-start;
}

.media, .info{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-left: 24px;
}

.media{
  width: 60%;
}

.media video{
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.media h4{
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Open Sans';
  margin-bottom: 14px;
}

.media h5{
  font-size: 1rem;
  margin-bottom: 50px;
  line-height: 1.4;
  color: rgb(118,118,118);
}

.info{
  width: 40%;
}

.info h4{
  display: inline-block;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.info img{
  width: 35%;
  height: auto;
  margin: 16px;
}

.fisma, .now{
  display: flex;
  justify-content: flex-start;
}

.fisma{
  background-color: rgb(216,216,216);
}

.now img{
  width: 34%;
}

@media only screen and (max-width: 480px){

  .last h1{
    margin-bottom: 16px;
  }

  .content{
    display: none;
  }

  .last .clip{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

}

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
  font-size: 0.9rem;
  border-top: 1px solid rgb(216,216,216);
  margin-bottom: 32px;
}

footer ul{
  display: flex;
}

footer li a{
  margin-left: 16px;
  text-decoration-line: none;
  color: rgb(74,74,74);
}

@media only screen and (max-width: 480px){

   footer{
     margin-bottom: 0;
     padding: 16px 0;
   }

   footer nav{
     display: none;
   }

   footer span{
     margin-left: 16px;
   }

}

/* The-End */
